<div class="youps-notification-pannel" [ngClass]="{'show-notification-pannel':showPanel}">
    <div class="youps-notification-logo"></div>
    <div class="youps-notification-pannel-content">
        <div class="youps-notification-title">{{notifications?.title}} </div>
        <div class="youps-notification-body">{{notifications?.body}} </div>
    </div>
    <div class="youps-notification-close" (click)="dismissNotification()">
        <span class="material-icons">close</span>
    </div>

</div>