<div class="container">
    <div class="signUpCard">
        <form #signupForm="ngForm">
            <h2 class="heading">Sign Up </h2>
            <label class="label"> Email</label>
            <input type="email" name="email" 
             placeholder="Enter your adress mail"
             [(ngModel)] ="email" class="signUpCard "
             maxlength="60" required/>

             <label class="label"> Password</label>
            <input type="password" name="password" 
             placeholder="choose a password"
             [(ngModel)] ="password" class="formInput"
             maxlength="60" required/>

             <label class="label"> Display Name</label>
            <input name="displayName" 
             placeholder="Enter a Display Name"
             [(ngModel)] ="displayName"class="formInput"
             maxlength="12" required/>
             
             <button [disabled] ="!signupForm.form.valid"
             type="submit " (click)="signUp()"
             class="btn" id="btn-signUp" 
             >
             Sign Up
             </button>
             <P>{{signupForm.status}} </P>
        </form>
    </div>


</div>
