<p>login-form works!</p>
<!-- <div>
    <h1>bdo</h1>
    <bdo dir="rtl">This text will go from right to left.</bdo>
</div>
<div>
    <h1>kbd</h1>
    <p>Veuillez appuyer sur <kbd>Ctrl</kbd> + <kbd>Maj</kbd> + <kbd>R</kbd> pour restituer un page Web.</p>
</div> -->