<div class="chatRoom">
    <app-notification></app-notification>
    <!-- <button class="button button-primary" (click)="subscribeToNotifications()"> -->
    <!-- Subscribe -->
    <!-- </button> -->
    <div class="chatHeaderWrapper">
        <app-navbar></app-navbar>
    </div>
    <!-- <router-outlet></router-outlet> -->
    <!-- {{ message | async | json }} -->
    <router-outlet></router-outlet>
</div>