<div class="mainContent">
    <div class="userListeWrapper" >
        <app-user-list></app-user-list>
    </div>
    <div #scroller class="feedWrapper">
        <app-feed></app-feed>
    </div>
    <div class="chatFormWrapper">
        <app-chat-form></app-chat-form> 
    </div>
</div>
