.mainContent {
    justify-content: center;
    display: flex;
    flex-direction: row;
}

.userListeWrapper {
    display: flex;
    font-family: "Open Sans", sans-serif;
    font-size: 1.2em;
    flex: 1;
    color: #fff;
    order: 1;
    background-color: #2A2845;
    padding: 20px 0px 40px 30px;
    border-right: 1px solid #222;
}

.feedWrapper {
    font-family: "Open Sans", sans-serif;
    font-size: 1.2em;
    flex: 5;
    order: 2;
    overflow-y: scroll;
    background-color: #fff;
    padding: 20px 0px 0px 24px;
    background: linear-gradient(180deg, rgba(100, 200, 255, 0.6), rgba(0, 0, 0, 0.9));
}

.chatFormWrapper {
    display: flex;
    height: 50px;
    background-color: #eee;
    z-index: 3;
}

#scroll-style::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #F5F5F5;
}