<div class="messageContent">
    <div class="messageData">
        <span class="sender">
            {{userName}}
        </span>
        <span class="timeStamp">
            {{timeStamp}} 
        </span>
    </div>
  <div>
        {{messageContent}}
  </div>
    <p>{{userEmail}} </p>  
  
    <p></p>
</div>
